<app-plantilla-perfil>
  <div class="container-fluid p-3 slide-in-top">
    <div class="row mt-5">
      <div class="col-6">
        <h1>Mis datos</h1>
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">Nombre de usuario: <h4 class="text-center">{{perfilUsuario.username}}</h4></li>
          <li class="list-group-item">Correo electrónico: <h4 class="text-center">{{perfilUsuario.email}}</h4></li>
          <li class="list-group-item">Fecha de registro: <h4
            class="text-center">{{perfilUsuario.date_joined | date:'dd/MM/yyyy' }}</h4></li>
        </ul>
      </div>
      <div class="col-6">
        <h1>Resumen de uso</h1>
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">Conexiones este mes: <h4 class="text-center">{{conexiones_mes}}</h4></li>
          <li class="list-group-item">Consumo este mes: <h4 class="text-center">{{consumo_mes}} kw/H</h4></li>
          <li class="list-group-item">Gastado este mes: <h4 class="text-center">{{gasto_mes}} €</h4></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="rounded-3">
        <table class="table text-center">
          <caption style="caption-side: top" class="fs-1">
            Últimas cargas
          </caption>
          <thead>
            <tr>
              <th scope="col">Patinete</th>
              <th scope="col">Consumo</th>
              <th scope="col">Fecha y hora</th>
              <th scope="col">Importe</th>
            </tr>
          </thead>
          <ng-container *ngIf="listaUltimasConexiones.length > 0">
            <tbody *ngFor="let conexion of listaUltimasConexiones">
              <tr>
                  <td>{{conexion.patineteNombre}}</td>
                  <td>{{conexion.consumo}}</td>
                  <td>{{conexion.horaConexion | date: 'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{conexion.importe}}</td>
              </tr>
            </tbody>
          </ng-container>
        </table>
        <div class="d-flex justify-content-center">
          <a class="enlace_main" [routerLink]="['historial_conexiones']">Ver todas las cargas...</a>
        </div>
      </div>
    </div>
  </div>
</app-plantilla-perfil>
