<app-plantilla-perfil>
  <div class="container col-12">
    <div class="row mt-5">
      <div class="col-6">
        <h1>Mis datos</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre de usuario: <h4 class="text-center">{{perfilUsuario.username}}</h4></li>
          <li class="list-group-item">Correo electrónico: <h4 class="text-center">{{perfilUsuario.email}}</h4></li>
          <li class="list-group-item">Fecha de registro: <h4
            class="text-center">{{perfilUsuario.date_joined | date:'dd/MM/yyyy' }}</h4></li>
        </ul>
      </div>
      <div class="col-6">
        <h1>Resumen de uso</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Conexiones este mes: <h4 class="text-center">{{conexionesMes.length}}</h4></li>
          <li class="list-group-item">Consumido este mes: <h4 class="text-center">100</h4></li>
          <li class="list-group-item">Gastado este mes: <h4 class="text-center">400€</h4></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div>
        <table class="table text-center">
          <caption style="caption-side: top" class="text-center fs-1">
            Últimas cargas
          </caption>
          <tbody>
          <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <tr class="d-block w-100">
                <td  class="d-block w-100 btn btn-success py-5" >Disponible</td>
                <td  class="d-block w-100 btn btn-danger py-5">No disponible</td>
              </tr>
            </div>
          </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container d-flex mt-5 justify-content-center">


  </div>

</app-plantilla-perfil>
