<app-template>
  <div class="container mt-5" *ngIf="mostrarDatos">
    <form [formGroup]="formulario">
      <div class="form-group">
        <label for="estaciones">Seleccione una estación:</label>
        <select id="estaciones" formControlName="estaciones" class="form-control mt-3" (click)="mostrarPuestos()">
          <option disabled selected>Seleccione...</option>
          <option *ngFor="let estacion of estaciones" [value]="estacion.id">{{ estacion.direccion }}</option>
        </select>
      </div>
    </form>
    <table class="table text-center m-5">
      <caption style="caption-side: top" *ngIf="estacionSeleccionada" class="text-center fs-1">
        Estación de carga: <span class="fw-bolder">{{estacionSeleccionada.nombre}}</span>
      </caption>
      <tbody>
      <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center" *ngFor="let puesto of puestos">
          <tr class="d-block w-100">
            <td *ngIf="puesto.disponible" class="d-block w-100 btn btn-success py-5" (click)="open(puesto)">Disponible</td>
            <td *ngIf="!puesto.disponible" class="d-block w-100 btn btn-danger py-5" (click)="open(puesto)">No disponible</td>
          </tr>
        </div>
      </div>
      </tbody>
    </table>
  </div>

  <div class="container m-5" *ngIf="!mostrarDatos">
    <h3 class="text-center">No tienes ningún patinete, ¡Agrega uno!</h3>
    <div class="container d-flex justify-content-center">
      <a [routerLink]='["/registrar_patinete"]' type="button" class="btn btn-success p-1">Agregar</a>
    </div>
  </div>
</app-template>
