<div class="container-fluid">
  <div class="modal-header">
    <h4 class="modal-title">Puesto {{puesto.id}}</h4>
    <button type="button" class="close btn btn-danger" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ng-container *ngIf="puesto.disponible; else noDisponible">
    <div class="modal-body">
      <form [formGroup]="formulario">
        <div class="form-group">
          <label for="patinetesList">Seleccione el patinete que quiere cargar:</label>
          <select id="patinetesList" formControlName="patinetesList" class="form-control mt-3">
            <option *ngFor="let patinete of patinetesList" [value]="patinete.id">{{ patinete.marca }}
              , {{patinete.modelo}} </option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-success" (click)="setConexion()" [disabled]="formulario.invalid">Conectar
      </button>
    </div>
  </ng-container>
  <ng-template #noDisponible>
    <div class="modal-body">
      <h5 class="text-center">Estás conectado a este puesto:</h5>
      <p class="fw-bold">Resumen:</p>
      <div class="ps-5">
        <p>Estacion: {{puesto.datosEstacion.nombre}}</p>
        <p>Patinete conectado: {{conexion.datosPatinete?.marca}}, {{conexion.datosPatinete?.modelo}}</p>
        <p>Día/hora de inicio: {{conexion.horaConexion | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p>Consumo actual: {{conexion.consumo}}</p>
        <p>Monto actual: {{conexion.monto}}</p>
      </div>
      <div class="text-center p-3">
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary" (click)="crearPago()">Pagar con paypal</button>
    </div>
  </ng-template>
</div>
