<app-plantilla-perfil>
  <div class="container-fluid slide-in-top">
    <h1 class="text-center p-5">Historial de cargas</h1>

    <form [formGroup]="formulario">
      <mat-form-field appearance="outline">
        <mat-label>Buscar patinete</mat-label>
        <input formControlName="patinete" matInput placeholder="Buscar patinete">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Buscar estación</mat-label>
        <input formControlName="estacion" matInput placeholder="Buscar estación">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="desdePicker" formControlName="desde">
        <mat-datepicker-toggle matSuffix [for]="desdePicker"></mat-datepicker-toggle>
        <mat-datepicker #desdePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="hastaPicker" formControlName="hasta">
        <mat-datepicker-toggle matSuffix [for]="hastaPicker"></mat-datepicker-toggle>
        <mat-datepicker #hastaPicker></mat-datepicker>
      </mat-form-field>

    </form>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="patineteNombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Marca del patinete
        </th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.patineteNombre }}</td>
      </ng-container>

      <ng-container matColumnDef="estacionNombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estación</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.estacionNombre }}</td>
      </ng-container>

      <ng-container matColumnDef="puestoId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Puesto</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.puestoId }}</td>
      </ng-container>

      <ng-container matColumnDef="horaConexion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de conexión</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.horaConexion | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="horaDesconexion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de desconexión</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.horaDesconexion | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="consumo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Consumo kw/H</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.consumo }}</td>
      </ng-container>

      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
        <td mat-cell *matCellDef="let conexion">{{ conexion.importe }}€</td>
      </ng-container>

      <tr class="custom-header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>

    <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>
</app-plantilla-perfil>
