<app-plantilla-perfil>
  <div class="container-fluid slide-in-top" style="overflow-x: scroll;">
    <h1 class="text-center p-5">Historial de cargas</h1>

    <form [formGroup]="formulario">

      <div class="d-flex">
        <div class="p-2">
          <mat-form-field appearance="fill">
            <mat-label>Buscar patinete</mat-label>
            <input formControlName="patinete" matInput placeholder="Buscar patinete">
          </mat-form-field>
        </div>

        <div class="p-2">
          <mat-form-field appearance="fill">
            <mat-label>Buscar estación</mat-label>
            <input formControlName="estacion" matInput placeholder="Buscar estación">
          </mat-form-field>
        </div>

        <div class="p-2">
          <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="desdePicker" formControlName="desde">
            <mat-datepicker-toggle matSuffix [for]="desdePicker"></mat-datepicker-toggle>
            <mat-datepicker #desdePicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="p-2">
          <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="hastaPicker" formControlName="hasta">
            <mat-datepicker-toggle matIconSuffix [for]="hastaPicker"></mat-datepicker-toggle>
            <mat-datepicker #hastaPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

    </form>

    <div>
      <table style="width: 1500px" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="patineteNombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Marca del patinete
          </th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.patineteNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="estacionNombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estación</th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.estacionNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="puestoId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Puesto</th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.puestoId }}</td>
        </ng-container>

        <ng-container matColumnDef="horaConexion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de conexión</th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.horaConexion | date: 'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="horaDesconexion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de desconexión</th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.horaDesconexion | date: 'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="tiempoTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Tiempo total</span>
            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Tiempo total = Hora de conexión - Hora de desconexión">info
            </mat-icon>
          </th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.tiempoTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="consumo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Consumo kW/h</span>
            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Consumo kW/h = Consumo del patinete por kW/h * Tiempo total">info
            </mat-icon>
          </th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.consumo }}</td>
        </ng-container>

        <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Importe</span>
            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Importe =
                                  Tarifa consumo ('0.15') * Consumo kW/h">info
            </mat-icon>
          </th>
          <td mat-cell *matCellDef="let conexion">{{ conexion.importe }}€</td>
        </ng-container>

        <ng-container matColumnDef="detalles">
          <th mat-header-cell *matHeaderCellDef>Detalles</th>
          <td mat-cell *matCellDef="let usuario">
            <a class="btn" [routerLink]="['/perfil/historial_conexiones/detalles_conexion', usuario.id]">
              <mat-icon>details</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr class="custom-header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

      </table>
    </div>

    <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>
</app-plantilla-perfil>
