<app-plantilla-perfil>
  <div class="container-fluid slide-in-top">
    <mat-card-header class="d-flex justify-content-center p-5">
      <h2>Agregar un patinete</h2>
    </mat-card-header>
    <mat-card-content>
      <form class="text-center" [formGroup]="formulario" (ngSubmit)="registrarPatinete()">

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <div style="display: flex; flex-direction: row; align-items: flex-start;">
              <input id="username" matInput formControlName="marca" type="text" placeholder="Marca">
              <ng-container *ngIf="formulario.get('marca')?.invalid && (formulario.get('marca')?.touched && formulario.get('marca')?.dirty)">
                <ng-container *ngIf="formulario.get('marca')?.hasError('pattern')">
                  <div style="position: relative; margin-left: 10px;">
                    <mat-icon matTooltip="{{marcaModeloInvalid}}" matTooltipPosition="after">warning</mat-icon>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mat-form-field>
        </div>

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <div style="display: flex; flex-direction: row; align-items: flex-start;">
              <input id="modelo" matInput formControlName="modelo" type="text" placeholder="Modelo">
              <ng-container *ngIf="formulario.get('modelo')?.invalid && (formulario.get('modelo')?.touched && formulario.get('marca')?.dirty)">
                <ng-container *ngIf="formulario.get('modelo')?.hasError('pattern')">
                  <div style="position: relative; margin-left: 10px;">
                    <mat-icon matTooltip="{{marcaModeloInvalid}}" matTooltipPosition="after">warning</mat-icon>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mat-form-field>
        </div>

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Consumo kWh</mat-label>
            <div style="display: flex; flex-direction: row; align-items: flex-start;">
              <input id="consumo" matInput formControlName="consumo" type="number" placeholder="Consumo kWh">
              <ng-container *ngIf="formulario.get('consumo')?.invalid && (formulario.get('consumo')?.touched && formulario.get('marca')?.dirty)">
                <ng-container *ngIf="formulario.get('consumo')?.hasError('min')">
                  <div style="position: relative; margin-left: 10px;">
                    <mat-icon matTooltip="{{consumoInvalid}}" matTooltipPosition="after">warning</mat-icon>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mat-form-field>
        </div>

        <div>
          <span>* Campos obligatorios</span>
        </div>
        <div class="text-center mt-3">
          <button mat-raised-button color="primary">Registrar patinete</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</app-plantilla-perfil>
