<app-plantilla-perfil>
  <div class="container-fluid slide-in-top">
    <mat-card-header class="d-flex justify-content-center p-5">
      <h2>Agregar un patinete</h2>
    </mat-card-header>
    <mat-card-content>
      <form class="text-center" [formGroup]="formulario" (ngSubmit)="registrarPatinete()">

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marca" placeholder="Marca">
              <mat-option *ngFor="let marca of marcas" [value]="marca" (click)="getModelosPatinetes()">{{marca.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <mat-select formControlName="modelo" placeholder="Modelo">
              <mat-option *ngFor="let modelo of modelos" [value]="modelo">{{modelo.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Consumo kWh</mat-label>
            <div style="display: flex; flex-direction: row; align-items: flex-start;">
              <input id="consumo" matInput formControlName="consumo" type="number" placeholder="Consumo kWh">
            </div>
          </mat-form-field>
        </div>

        <div>
          <span>* Campos obligatorios</span>
        </div>
        <div class="text-center mt-3">
          <button mat-raised-button color="primary">Registrar patinete</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</app-plantilla-perfil>
