<app-template>
  <div class="d-flex justify-content-center">
    <div class="col-2 p-5">
      <nav class="navbar">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="enlace_main" [routerLink]="['/perfil']">Resumen</a>
            </li>
            <li class="nav-item">
              <a class="enlace_main" [routerLink]="['/perfil/editar_perfil']">Datos personales</a>
            </li>
            <li class="nav-item">
              <a class="enlace_main" [routerLink]="['/perfil/registrar_patinete']">Agregar patinete</a>
            </li>
            <li class="nav-item">
              <a class="enlace_main" [routerLink]="['/perfil/historial_conexiones']">Historial de conexiones</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ng-content>

    </ng-content>
  </div>
</app-template>
