<app-plantilla-administracion>
    <div class="container-fluid slide-in-top" style="overflow-x: scroll;">
        <form [formGroup]="formulario">
          <div class="d-flex">
            <div class="p-2">
              <mat-form-field appearance="fill">
                <mat-label>Buscar usuario</mat-label>
                <input formControlName="username" matInput placeholder="Buscar usuario">
              </mat-form-field>
            </div>

            <div class="p-2">
              <mat-form-field appearance="fill">
                <mat-label>Buscar correo</mat-label>
                <input formControlName="email" matInput placeholder="Buscar por correo">
              </mat-form-field>
            </div>

            <div class="p-2">
              <mat-form-field>
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="desdePicker" formControlName="desde">
                <mat-datepicker-toggle matSuffix [for]="desdePicker"></mat-datepicker-toggle>
                <mat-datepicker #desdePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="p-2">
              <mat-form-field>
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="hastaPicker" formControlName="hasta">
                <mat-datepicker-toggle matIconSuffix [for]="hastaPicker"></mat-datepicker-toggle>
                <mat-datepicker #hastaPicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

        </form>
      <div>
        <table style="width: 1500px" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nombre de usuario
            </th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.username }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
          </ng-container>

          <ng-container matColumnDef="dated_joined">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de alta</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.date_joined | date: 'dd/MM/yyyy HH:mm' }}</td>
          </ng-container>

          <ng-container matColumnDef="is_staff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
            <td mat-cell *matCellDef="let usuario">
              <ng-container *ngIf="usuario.is_staff; else noStaff">
                <p>Sí</p>
              </ng-container>
              <ng-template #noStaff>
                <p>No</p>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let usuario">
              <button type="button" class="btn" (click)="open(usuario)">
                <i class="fa-solid fa-user-pen fa-xl" style="color: #0077cc;"></i>
              </button>
            </td>
          </ng-container>

          <tr class="custom-header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        </table>
      </div>
      <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 25, 50, 100]"
                     showFirstLastButtons></mat-paginator>
    </div>
</app-plantilla-administracion>
