<app-plantilla-administracion>
  <div class="container-fluid slide-in-top" style="overflow-x: scroll;">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title class="fw-bolder">Acciones de Estaciones de Carga</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-container mt-4">
            <div class="button-group">
              <button class="m-3" mat-raised-button color="primary" (click)="openRegistroEstacion()">Agregar una nueva estación</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div>

      <h1 class="text-center p-5">Estaciones de carga</h1>

      <form [formGroup]="formulario">

        <div class="d-flex">
          <div class="p-2">
            <mat-form-field appearance="fill">
              <mat-label>Buscar estación</mat-label>
              <input formControlName="estacion" matInput placeholder="Buscar estación">
            </mat-form-field>
          </div>

          <div class="p-2">
            <mat-form-field appearance="fill">
              <mat-label>Buscar dirección</mat-label>
              <input formControlName="direccion" matInput placeholder="Buscar dirección">
            </mat-form-field>
          </div>

          <div class="p-2">
            <mat-form-field appearance="fill">
              <mat-label>Buscar provincia</mat-label>
              <input formControlName="provincia" matInput placeholder="Buscar provincia">
            </mat-form-field>
          </div>
        </div>
      </form>

      <div>
        <table style="width: 1500px" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Estación
            </th>
            <td mat-cell *matCellDef="let estacion">{{ estacion.nombre }}</td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
            <td mat-cell *matCellDef="let estacion">{{ estacion.direccion }}</td>
          </ng-container>

          <ng-container matColumnDef="provinciaNombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
            <td mat-cell *matCellDef="let estacion">{{ estacion.provinciaNombre }}</td>
          </ng-container>

          <ng-container matColumnDef="total_puestos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Puestos totales</th>
            <td mat-cell *matCellDef="let estacion">{{ estacion.total_puestos }}</td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let estacion">
              <a class="btn" (click)="open(estacion)">
                <i class="fa-solid fa-pen-to-square fa-xl" style="color: #0077cc;"></i>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="add_puestos">
            <th mat-header-cell *matHeaderCellDef>Agregar puestos</th>
            <td mat-cell *matCellDef="let estacion">
              <a class="btn" (click)="openAgregarPuestos(estacion)">
                <i class="fa-solid fa-plus fa-xl" style="color: #0077cc;"></i>
              </a>
            </td>
          </ng-container>

          <tr class="custom-header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        </table>
      </div>

      <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 25, 50, 100]"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</app-plantilla-administracion>
