/* You can add global styles to this file, and also import other style files */

$naranja: #FF6600;
$lighblue: #E0E0E0;

a {
  color: $naranja;
}

a:hover {
  color: black;
}

body {
  background-color: $lighblue;
}

.btn-primary{
  color: #000000;
  background: $naranja;
  border-color: $naranja;
}

.btn-primary:hover{
  color: #F5F5DC;
  background-color: black;
}

.bg-secondary{
  background-color: #F5F5DC !important;
}
