<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <title>Plantilla</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="header">
  <div class="container-fluid mx-0 px-0 ">
    <div class="d-flex align-items-center">
      <div class="col-4">
            <a class="p-5" [routerLink]="['/']">
              <img src="assets/logo/logo.png" width="300px">
            </a>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <h3 class="tracking-in-expand">Bienvenid@ {{usuario}}</h3>
      </div>
      <div class="col-4 d-flex justify-content-end pe-5">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="enlace_main p-2" [routerLink]="['/']">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="enlace_main p-2" [routerLink]="['/perfil']">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="enlace_main p-2" [routerLink]="['/administracion']" href="#">Administración</a>
                </li>
                <li>
                  <a class="enlace_main p-2" (click)="logOut()" href="#">Cerrar sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <hr class="mb-4 p-0">
  </div>

</header>
<main class="">
  <div class="container-fluid mx-0 px-0">
    <ng-content>

    </ng-content>
  </div>
</main>
<footer class="footer d-flex justify-content-center p-5 mt-auto">
  <div class="col-4 d-flex align-items-center justify-content-center">
    <div class="w-50">
      <h3>Scootergy</h3>
      <div>
        <p>
          <span>Porque el viaje es tan importante como el destino</span>
          <span class="material-symbols-outlined">mood</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    Enlaces de interes...
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a href="" class="nav-link enlace_main" aria-current="page">Contactanos</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link enlace_main">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link enlace_main" style="cursor: pointer;">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-4">3</div>
</footer>
</body>
</html>
