<app-plantilla-administracion>
  <div class="container-fluid p-3 slide-in-top">
    <div>
      <h1 class="text-center">Estadisticas generales</h1>
      <div class="container">
        <h1>Usuarios</h1>
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">Usuarios registrados: <h4 class="text-center">{{totalUsuarios}}</h4></li>
          <li class="list-group-item">Usuarios activos: <h4 class="text-center">{{usuariosActivos}}</h4></li>
          <li class="list-group-item">Usuarios inactivos: <h4 class="text-center">{{usuariosInactivos}}</h4></li>
        </ul>
      </div>
      <div class="container">
        <h1>Estaciones</h1>
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">Estaciones activas: <h4 class="text-center">{{estacionesActivas}}</h4></li>
          <li class="list-group-item">Estaciones inactivas: <h4 class="text-center">{{estacionesInactivas}}</h4></li>
          <li class="list-group-item">Usuarios inactivos: <h4 class="text-center">{{usuariosInactivos}}</h4></li>
        </ul>
      </div>
      <div class="container">
        <h1>Ingresos y consumo</h1>
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">Ingresos generados/mes: <h4 class="text-center">{{gasto_total}} €</h4></li>
          <li class="list-group-item">Energia suministrada/mes: <h4 class="text-center">{{consumo_total}} kw/H</h4></li>
        </ul>
      </div>
    </div>
  </div>
</app-plantilla-administracion>
